@font-face { /* where FontName and fontname represents the name of the font you want to add */
    font-family: 'TeamsAssets';
    src: url([[font:theme|TeamsAssets-Regular.eot]]);
    src: url([[font:theme|TeamsAssets-Regular.eot]]) format('embedded-opentype'),
    url([[font:theme|TeamsAssets-Regular.woff]]) format('woff'),
    url([[font:theme|TeamsAssets-Regular.woff2]]) format('woff2'),
    url([[font:theme|TeamsAssets-Regular.ttf]]) format('truetype'),
    url([[font:theme|TeamsAssets-Regular.svg]]) format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face { /* where FontName and fontname represents the name of the font you want to add */
    font-family: 'TeamsAssets';
    src: url([[font:theme|TeamsAssets-Light.eot]]);
    src: url([[font:theme|TeamsAssets-Light.eot]]) format('embedded-opentype'),
    url([[font:theme|TeamsAssets-Light.woff]]) format('woff'),
    url([[font:theme|TeamsAssets-Light.woff2]]) format('woff2'),
    url([[font:theme|TeamsAssets-Light.ttf]]) format('truetype'),
    url([[font:theme|TeamsAssets-Light.svg]]) format('svg');
    font-weight: 300;
    font-style: normal;
}
body {
    font-family: "Segoe UI","Helvetica Neue","Apple Color Emoji","Segoe UI Emoji",Helvetica,Arial,sans-serif;
}
/* topics format START */
.format-topics .section .activity {
    background-color: #fff;
    padding: 10px;
    padding-left: 20px;
    margin-top: 2px;
}
.format-topics .sectionname {
    padding-left: 32px;
    font-size: 1em;
}
.format-topics #completionprogressid {
    display: none;
}
.format-topics .section_availability .ishidden {
    padding-left: 32px;
}
.format-topics .availabilityinfo.ishidden {
    display: none;
}
/*topics format END */
/* weeks format START */
.format-weeks .weeks .section .activity{
    background-color: #fff;
    padding: 10px;
    padding-left: 20px;
    margin-top: 2px;
}
.format-weeks .weeks .sectionname {
    padding-left: 32px;
    font-size: 1em;
}
.format-weeks .course-content .current::before {
    border: 0px;
}
.format-weeks .section_availability .ishidden {
    padding-left: 32px;
}
/* weeks format END */
/* collapsable topics format START */
.format-collapsibletopics .section .activity {
    background-color: #fff;
    padding: 10px;
    padding-left: 20px;
    margin-top: 2px;
}
.format-collapsibletopics .course-content ul.collapsibletopics li.section .sectionname {
    font-size: 15px;
    color: #000;
}
.format-collapsibletopics .course-content ul.collapsibletopics a.sectiontoggle[aria-expanded="true"], .course-content ul.collapsibletopics a.sectiontoggle[aria-expanded="false"] {
    margin-left: 32px;
    background-size: 13px 13px;
    font-size: 0.8rem;
}
.format-collapsibletopics .course-content ul.collapsibletopics li.section ul.section {
    padding-left: 1rem;
}
.format-collapsibletopics .course-content ul.collapsibletopics .sectiontoggle ~ .section-summary-activities,
.format-collapsibletopics .course-content ul.collapsibletopics .sectiontoggle.collapsed ~ .section-summary-activities{
    display: none;
}
.format-collapsibletopics .expandall {
    display: none;
}
.format-collapsibletopics #completionprogressid {
    display: none;
}
.format-collapsibletopics .availabilityinfo.ishidden {
    display: none;
}
/* collapsable topics format END */
/* collapsable weeks format START */
.format-collapsibleweeks .section .activity {
    background-color: #fff;
    padding: 10px;
    padding-left: 20px;
    margin-top: 2px;
}
.format-collapsibleweeks .course-content ul.collapsibleweeks li.section ul.section {
    padding-left: 1rem;
}
.format-collapsibleweeks .course-content ul.collapsibleweeks a.sectiontoggle[aria-expanded="true"],
.format-collapsibleweeks .course-content ul.collapsibleweeks a.sectiontoggle[aria-expanded="false"] {
    margin-left: 32px;
    background-size: 13px 13px;
    font-size: 0.8rem;
}
.format-collapsibleweeks .course-content ul.collapsibleweeks li.section .sectionname {
    font-size: 15px;
    color: #000;
}
.format-collapsibleweeks .section_availability .ishidden {
    padding-left: 32px;
}
/*.format-collapsibleweeks .course-content ul.collapsibleweeks .sectiontoggle ~ .section-summary-activities,*/
/*.format-collapsibleweeks .course-content ul.collapsibleweeks .sectiontoggle.collapsed ~ .section-summary-activities{*/
/*display: none;*/
/*}*/
/*.format-collapsibleweeks .expandall {*/
/*display: none;*/
/*}*/
/*.format-collapsibleweeks #completionprogressid {*/
/*display: none;*/
/*}*/
/*.format-collapsibleweeks .availabilityinfo.ishidden {*/
/*display: none;*/
/*}*/
/* collapsable weeks format END */
/* multi-page topics format START */
/* main page */
.format-topics .course-content .section-summary {
    border: 0;
}
.format-topics .course-content .topics .section-summary .section-title {
    padding-left: 32px;
    margin: 0;
}
.format-topics .course-content ul.topics .section-summary-activities {
    display: none;
}
/* section page */
.format-topics .single-section h3.sectionname {
    text-align: unset;
    padding-left: 28px;
    font-size: 1em;
}
.format-topics .course-content .single-section .section-navigation .mdl-right,
.format-topics .course-content .single-section .section-navigation .mdl-left {
    display:none;
}
.format-topics #sectionmenu {
    display: none;
}
/*!* multi-page topics format END *!*/
/*!* multi-page weeks format START *!*/
.format-weeks .course-content .section-summary {
    border: 0;
}
.format-weeks .course-content .weeks .section-summary .section-title {
    padding-left: 32px;
    margin: 0;
}
/*.format-weeks .course-content ul.weeks .section-summary-activities {*/
/*display: none;*/
/*}*/
/* section page */
.format-weeks .single-section h3.sectionname {
    text-align: unset;
    padding-left: 28px;
    font-size: 1em;
}
/*.format-weeks .course-content .single-section .section-navigation .mdl-right,*/
/*.format-weeks .course-content .single-section .section-navigation .mdl-left {*/
/*display:none;*/
/*}*/
/*.format-weeks #sectionmenu {*/
/*display: none;*/
/*}*/
/*.format-weeks .availabilityinfo.ishidden {*/
/*display: none;*/
/*}*/
/*!* multi-page weeks format END *!*/

/*!* modules START *!*/
.path-mod .card-body div[role="main"] {
    margin-left:32px;
}
/*!* modules END *!*/


/* header START */
body #course_page_title {
    position: relative;
    margin-left: 32px;
    background-color: #fff;
    border-left: 8px #fc852c solid;
    font-size: 2.4em;
    padding-left: 40px;
}
body .back_course_main {
    position: relative;
    display: block;
    font-size: 16px;
    padding-left: 6px;
}
.page_title {
    padding-bottom: 20px;
    padding-top: 10px;
}
.page_title a:active, .page_title a:hover {
    text-decoration:none;
}
/** Teacher Edit Link START */
div.teachereditlink {
    position: relative;
    display: none;
    float: right;
    z-index: 1;
    margin-top:26px;
    margin-right: 40px;
    font-size:14px;
    width: unset;
}
div.teachereditlink a {
    background-color: rgb(244,244,244);
    padding: 8px;
    border: 0.125rem solid;
    border-color: #bdbdbd;
    border-radius: 0.1875rem;
    color: #5c5b5b;
    cursor: pointer;
}
div.teachereditlink a:hover {
    background-color: #bdbdbd;
    text-decoration: none;
    color: #252424;
}
div.teachereditlink a:active {
    background-color: #929191;
    text-decoration: none;
    color: #252424;
    border-color: transparent;
}
/** Teacher Edit Link END */
/* header END */















/*!* all course formats START *!*/
/*#completionprogressid {*/
/*display: none;*/
/*}*/
/*.availabilityinfo.ishidden {*/
/*padding-left: 32px;*/
/*}*/
/*!* all course formats START *!*/






/* course body START */
.card-body {
    background-color: #f3f2f1;
}
body {
    background-color: #f3f2f1;
}
.course-content ul li.section.main {
    border-bottom: 0;
}
#region-main .card {
    border: 0;
}

a{
    color: #000;
}
/* course body END */

/* activity list START */
.section .activity .actions {
    float:left;
    position: static;
}
.section .activity .activityinstance {
    float:left;
}
/* activity list END */
/* footer START */
.footerlogo {
    width:100%;
    color:gold;
    height:60px;
    position: fixed;
    bottom: 0px;
    background-color: #f3f2f1;
    padding-top:10px;
    padding-bottom:10px;
}
.footerlogo img {
    float:right;
    padding-right:70px;
}
.user_details {
    margin-left: 70px;
    color: black;
}
/* footer END */
/* popup icon START */
.popupicon {
    display: none;
}
li.resource .popupicon{
    display: block;
    width: 16px;
    height: 21px;
    padding-top: 5px;
}
/* popup icon END */











/* ALL BUTTONS */
button {
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    margin: 0em;
    font: 400 13.3333px Arial;
}

/* ENABLED SECONDARY BUTTON */
/* secondary button */
.btn-secondary {
    background: rgb(244,244,244);
    border: 0.125rem solid;
    border-color: rgb(200,200,200);
    border-radius: 0.1875rem;
    box-sizing: border-box;
    color: #5c5b5b;
    cursor: pointer;
    font-family: "Segoe UI", Tahoma, Helvetica, sans-serif;
    height: 2rem;
    min-width: 6rem;
    padding: 0.25rem;
    white-space: nowrap;
    -webkit-box-shadow: unset !important;
    box-shadow: unset !important;
}
/* secondary button :active*/
.btn-secondary:not(:disabled):not(.disabled):active {
    background: #414040;
    border-color: transparent;
    color: #FFFFFF;
}
/* secondary button :hover*/
.btn-secondary:hover, .btn-secondary:focus:enabled {
    background: rgb(200,200,200);
    border-color: transparent;
    color: #000;
}
/* secondary button :focus*/
.btn-secondary:focus, .btn-secondary:focus:enabled {
    background: #636262;
    border-color: transparent;
    color: #FFFFFF;
    outline: 0.125rem solid #FFFFFF;
    outline-offset: -0.25rem;
}
/* secondary button (checked)*/
.fp-viewbar:not(.disabled) a.checked:not(:disabled):not(.disabled) {
    color: #fff;
    background-color: #1f2021;
    border-color: #191a1b;
}

/* DISABLED SECONDARY BUTTON */
/* secondary button */
div.disabled .btn-secondary {
    background: #2d2c2c;
    border-color: #2b2a2a;
    color: #636262;
    cursor: default;
}

/* ENABLED PRIMARY BUTTON */
/* primary button */
.btn-primary, .btn-default {
    background: #6264A7;
    border: 0.125rem solid;
    border-color: transparent;
    border-radius: 0.1875rem;
    box-sizing: border-box;
    color: #201F1F;
    cursor: pointer;
    font: inherit;
    height: 2rem;
    min-width: 6rem;
    padding: 0.25rem;
    white-space: nowrap;
    -webkit-box-shadow: unset !important;
    box-shadow: unset !important;
    color: #FFFFFF;
}
/* primary button :active*/
.btn-primary:not(:disabled):not(.disabled):active, .btn-default:not(:disabled):not(.disabled):active {
    background: #A6A7DC;
    border-color: transparent;
    color: #201F1F;
}
/* primary button :hover*/
.btn-primary:hover, .btn-primary:focus:enabled, .btn-default:hover, .btn-default:focus:enabled {
    background: #464775;
    border-color: transparent;
    color: #FFFFFF;
}
/* primary button :focus*/
.btn-primary:focus, .btn-primary:focus:enabled, .btn-default:focus, .btn-default:focus:enabled {
}




body {
    display: none;
}
body#page-login-index {
    display: block;
}
nav.navbar {
    display: none;
}
div#nav-drawer {
    display: none;
}
section[data-region="blocks-column"] {
    display: none;
}
footer#page-footer {
    display: none;
}

header#page-header {
    clear: both;
}
